body{
    background-image: url(images/download5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(11, 62, 231);
}
*{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    text-align: right;
}
h1{
    color: #86037b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
}
h3{
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}
main{
    background-color: antiquewhite;
}
header{
    background-color: aliceblue;
}
footer{
    background-color: azure;
}
ul{
    background-color: beige;
}
dl{
    background-color: antiquewhite;
}